.content-wrap {
    padding:40px;
}
.page {
    min-height: 100vh;
}
.admin-btn-create {
    margin-bottom: 30px;
}
.card {
    padding-top: 30px;
    padding-left: 30px;
}
.admin-img {
    max-width: 200px;
}

.form-button {
    background: none;
    border: none;
    color: #796AEE;
}

/*.page-layout {
    background-image: url("image/pink mothers day.jpg");
}*/

